@using kanban.ViewModels
@model ModificarTareaViewModel

@{
    ViewData["Title"] = "Editar Tarea";
}

<form asp-controller="Tarea" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group"></div>
    <label for="lbl.IdUsuarioAsignado" asp-for="IdUsuarioAsignado">ID Usuario Asignado:
    </label>
    <input type="number" class="form-control" id="lbl.IdUsuarioAsignado" asp-for="IdUsuarioAsignado">
        <span asp-validation-for="IdUsuarioAsignado" class="text-danger"></span>
    </div>

    <div class="form-group"></div>
    <label for="lbl.IdTablero" asp-for="IdTablero">ID Tablero:
    </label>
    <input type="number" class="form-control" id="lbl.IdTablero" asp-for="IdTablero">
        <span asp-validation-for="IdTablero" class="text-danger"></span>
    </div>

    <div class="form-group"></div>
    <label for="lbl.nombre" asp-for="Nombre">Nombre: </label>
    <input type="text" class="form-control" id="lbl.nombre" asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    
    </div>

    <div class="form-group"></div>
    <label for="lbl.descripcion" asp-for="Descripcion">Descripción: </label>
    <input type="text" class="form-control" id="lbl.descripcion" asp-for="Descripcion">
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    
    </div>

    <div class="form-group"></div>
    <label for="lbl.color" asp-for="Color">Color: </label>
    <input type="text" class="form-control" id="lbl.color" asp-for="Color">
        <span asp-validation-for="Color" class="text-danger"></span>
    
    </div>

    @* <div class="form-group"></div>
    <label for="lbl.Estado" asp-for="Estado">Estado: </label>
    <input type="text" class="form-control" id="lbl.Estado" asp-for="Estado">
    </div> *@

    @* <div class="mb-3">
        @Html.LabelFor(model => model.Estado)
        @Html.DropDownListFor(model => model.Estado, Enum.GetValues(typeof(EstadoTarea)).Cast<EstadoTarea>().Select(x =>
            new SelectListItem
            {
                Text = Enum.GetName(typeof(EstadoTarea), x),
                Value = ((int)x).ToString(),
                Selected = (x == Model.Estado)
            }),
            "-- Seleccione un estado --",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Estado)
    </div> *@

    <div class="mb-3">
        <label asp-for="Estado" class="form-label">Estado: </label>
        <select asp-for="Estado" class="form-control">
            <option value="">-- Seleccione un Estado --</option>
            @foreach (var Estado in Enum.GetValues(typeof(EstadoTarea)))
            {
                <option value="@Estado">@Estado</option>
            }
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Crear</button>
</form>